<div class="interview-accordion-item accordion-item accordion-item-<%= company._id %>"
	id="accordion-item-<%= company._id %>">
	<h2 class="accordion-header" id="interview-heading-<%= company._id %>">
		<!-- Accordion Button -->
		<button class="accordion-button interview-button d-block text-center" type="button" data-bs-toggle="collapse"
			data-bs-target="#interview-<%= company._id %>" aria-expanded="false"
			aria-controls="interview-<%= company._id %>">
			<%= company.companyName %> <i class="fa-solid fa-cube" style="color: lightsalmon; "></i>
		</button>
	</h2>
	<div id="interview-<%= company._id %>" class="accordion-collapse collapse"
		aria-labelledby="interview-heading-<%= company._id %>">

		<!-- Accordion Body -->
		<div class="accordion-body">

			<div class="interview-data">
				<!-- Interview Date -->
				<p>
					<strong><i class="fa-regular fa-calendar"></i>&ensp;Date:&ensp;</strong>
					<%= new Date(company.date).toLocaleDateString(); %>
				</p>
				<!-- Delete Interview -->
				<i class="fa-solid fa-trash delete-interview-button" data-id="<%= company._id %>"></i>
			</div>

			<div class="students-list">
				<h5>Students List</h5>
				<form action="/createInterview" method="post" id="company-<%= company._id %>-students-form"
					class="interview-form">
					<!-- List of Interviews in the Company -->
					<!-- Don't use let with this loop here -->
					<% for(candidate of company.students){ %>

						<!-- Students List  -->
						<!-- Student Interview Data -->
						<div class="student student-interview-<%= company._id %> student-<%= candidate.student._id %>" id="<%= company._id %>">

							<div class="fixed">
								<p>
									<strong>Name:&ensp;</strong>
									<span>
										<%= candidate.student.name %>
									</span>
								</p>
								<p>
									<strong>Result:&ensp;</strong>
									<span>
										<%= candidate.result %>
									</span>
									<select class="form-select form-control hide custom-select"
										id="result-<%= candidate.student._id %>-select" name="result" required>
										<option selected value="<%= candidate.result %>">
											<%= candidate.result %>
										</option>
										<option value="pass">Pass</option>
										<option value="fail">Fail</option>
										<option value="on hold">On Hold</option>
										<option value="didn't attempt">Didn't Attempt</option>
									</select>
								</p>
							</div>
							<button class="edit-student-interview hide" data-id="<%= candidate.student._id %>" type="button">
								Edit&ensp;<i class="fa-solid fa-pen-to-square"></i>
							</button>
							<button class="update-student-interview hide" data-id="<%= candidate.student._id %>" type="button">
								Update Student&ensp;<i class="fa-solid fa-arrow-rotate-left"></i>
							</button>
							<button class="delete-student-interview hide" data-id="<%= candidate.student._id %>" type="button">
								Delete&ensp;<i class="fa-solid fa-trash"></i>
							</button>
						</div>
						<% } %>

							<div class="add-new-candidate hide">
								<div class="form-group">
									<select class="form-select form-control custom-select" name="studentId" required>
										<% for(let student of students){ %>
											<option value="<%= student._id %>">
												<%= student.name %>
											</option>
											<% } %>
									</select>
								</div>
								<div class="form-group">
									<select class="form-select form-control custom-select" name="result" required>
										<option value="pass">Pass</option>
										<option value="fail">Fail</option>
										<option value="on hold">On Hold</option>
										<option value="didn't attempt">Didn't Attempt</option>
									</select>
								</div>
								<div class="form-group hide">
									<input type="text" value="<%= company._id %>" name="companyId">
								</div>

								<button class="add-student-interview" type="submit">
									Add Student&ensp;<i class="fa-solid fa-circle-plus"></i>
								</button>
							</div>
							<p>
								<i class="fa-solid fa-circle-plus add-student-BTN"
									id="add-student-<%= company._id %>"></i>
							</p>
				</form>
			</div>
		</div>
	</div>
</div>